
<body id="page-top">
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
           <!----------navbar-->
            <app-navbar></app-navbar>

           <!------------------->
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0" style="font-size: 16px;font-weight: bold;">Customer</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="fas fa-mouse" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">History of bookings</span></div>
                                        <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">50</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="far fa-address-book" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">PENDING bookings</span></div>
                                        <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">30</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="far fa-address-book" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">MY bookings</span></div>
                                        <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">30</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------footer-->

        <app-footer></app-footer>
        <!-------------->
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>