
<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: #262626;">
    <div class="container"><a class="navbar-brand" style="font-size: 20px;color: rgb(255,255,255);"><i class="fas fa-door-open" style="color: #DEAE05;"></i>Laitalia<span style="color: #DEAE05;">BnB</span></a><button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler" style="border-style: none;"><span class="visually-hidden">Toggle navigation</span><i class="material-icons" style="color: rgb(222,174,7);">menu</i></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"  routerLink="/dashboardadmin" style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-tachometer"></i> Dashboard</a></li>
               
                <li class="nav-item"><a class="nav-link" routerLink="/viewbookings"  style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-book"></i> Bookings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/addroom"  style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-home"></i> Add room</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/viewroom"  style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-home"></i> View Rooms</a></li>
    
                <li class="nav-item"><a class="nav-link"  routerLink="/contacts" style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-comment"></i> Comments</a></li>
                
                <li class="nav-item"><a class="nav-link" routerLink="/Profileadmin"  style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-user"></i> profile</a></li>
                <li class="nav-item"><a class="nav-link"  (click)="onClick()" style="color: rgb(255,255,255);"><i style="color: #DEAE05;" class="fa fa-power-off"></i> LogOut</a></li>
                <li class="nav-item"><a class="nav-link shadow-none"  style="color: rgb(255,255,255);border: 1px none rgb(222,174,7) ;"><i class="fa fa-user-circle" style="color: #DEAE05;"></i>&nbsp;{{user.firstname}} {{user.lastname}} </a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<router-outlet></router-outlet>
