<nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top" style="background: #262626;">
    <div class="container-fluid">
        <h1 style="color: rgb(255,255,255);font-size: 16px;"><i class="fas fa-door-open" style="color: #DEAE05;"></i>LaItalia<span style="color: #DEAE05;">BnB</span></h1>
        <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"></a>
                
            </li>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle d-grid nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span style="font-weight: bold;font-size: 12px;text-align: center;"><i class="fa fa-user-circle" style="color: #DEAE05;font-size: 30px;margin-top: 10px;padding-bottom: -6px;"></i></span><span style="font-weight: bold;font-size: 12px;margin-top: -18px;">Kabelo,H</span></a>
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in" style="background: rgba(38,38,38,0.86);">
                        <a class="dropdown-item" routerLink="/dashboardadmin" style="color: rgb(255,255,255);">&nbsp;Dashboard</a>
                        <a class="dropdown-item" routerLink="/profileadmin" style="color: rgb(255,255,255);">&nbsp;Profile</a>
                        <a class="dropdown-item" routerLink="/addroom" style="color: rgb(255,255,255);">Add rooms</a>
                        <a class="dropdown-item" routerLink="/viewroom" style="color: rgb(255,255,255);">View rooms</a>
                        <a class="dropdown-item" routerLink="/viewbookings" style="color: rgb(255,255,255);">&nbsp;Bookings</a>
                        <a class="dropdown-item" (click)="onClick()" style="color: rgb(255,255,255);">&nbsp;Logout</a></div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
