<app-navbaradmin></app-navbaradmin>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-size: 16px;font-weight: bold;">Comments</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 offset-lg-0 mb-4">
            <div class="card shadow mb-4"></div>
            <div class="card shadow mb-4">
                <div class="card-header py-3" style="background: #262626;">
                    <h6 class="fw-bold m-0" style="color: #DEAE05;">Messages</h6>
                </div>
                <ul class="list-group list-group-flush" *ngFor="let e of info|paginate: { itemsPerPage: 5,currentPage: q }">
                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <h6 class="mb-0" style="color: #DEAE05;"></h6>
                                <span class="text-xs"><i class="fa fa-user"></i> {{e.fullname}} </span><br>
                                <span class="text-xs"><i class="fa fa-envelope"></i> {{e.email}} </span><br>
                                <span class="text-xs"><i class="fa fa-comment"></i> {{e.message}}</span><br>
                                
                            </div>
                            
                       </div>
                    </li>
                   
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<p style="text-align: center;font-size: 18px;"><pagination-controls (pageChange)="q = $event" class=""></pagination-controls></p>
  

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p class="loading" style="font-size: 30px; color: white"><i class="fas fa-door-open" style="color: #DEAE05;"></i>Laitalia<span style="color: #DEAE05;">BnB</span></p>
</ngx-spinner>
<app-footer></app-footer>
<!--------arlet-->

<!-- <div class="remove" [class.visible]="isVisible"> 
    <i class="fa fa-warning" style="font-size: 20px;"></i> Message read.
   
</div> -->

<!-----------------> 
