
<app-navbaradmin></app-navbaradmin>
<br>
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-size: 16px;font-weight: bold;">Admin</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2" *ngFor="let b of booking" >
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="fas fa-mouse" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">Number of bookings</span></div>
                            <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">{{b.countbooking}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2" *ngFor="let c of customer">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="far fa-address-book" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">Number of  customer</span></div>
                            <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">{{c.countcustomer}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2" *ngFor="let r of rooming">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="far fa-address-book" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">number of Rooms</span></div>
                            <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">{{r.countroom}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2" style="background: #DEAE05;">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2" *ngFor="let r of rooming">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><i class="far fa-comment" style="font-size: 30px;color: rgb(255,255,255);"></i></div>
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1" style="text-align: center;"><span style="color: rgb(255,255,255);font-size: 15px;">number of Reviews</span></div>
                            <div class="text-dark fw-bold h5 mb-0" style="text-align: center;"><span style="color: rgb(255,255,255);">{{r.countroom}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
 
>
  <p class="loading" style="font-size: 30px; color: white"><i class="fas fa-door-open" style="color: #DEAE05;"></i>Laitalia<span style="color: #DEAE05;">BnB</span></p>
</ngx-spinner>


<app-footer></app-footer>
