
        <app-navbaradmin></app-navbaradmin>

        <div class="container">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
                <h3 class="text-dark mb-0" style="font-size: 16px;font-weight: bold;">Booked Rooms</h3>
            </div>
            <!-- <div class="row">
                <div class="col-md-4" *ngFor="let e of info">
                    <div class="card-group" style="border-radius: 10px;">
                        <div class="card" style="border-radius: 10px;"><img class="card-img-top w-100 d-block" src="{{e.img_url1}}" style="border-top-left-radius: 10px;border-top-right-radius: 10px;height: 140px;" />
                            <div class="card-body" style="background: #262626;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                                <h4 class="card-title" style="font-size: 15px;color: #DEAE05;">Customer name : {{e.firstname}} {{e.lastname}}</h4>
                                <h4 class="card-title" style="font-size: 15px;color: #DEAE05;">Room : {{e.title}}</h4>
                                <h4 class="text-center card-title" style="font-size: 15px;color: #DEAE05;">
                                    <a class="btn btn-sm float-start" (click)= cancel(e) style="border-color: #deae05;color: rgb(255,255,255);">cancel</a>
                                    <a class="btn btn-sm"(click)= approve(e) style="border-color: #deae05;color: rgb(255,255,255);">approve</a>
                                    <a class="btn btn-sm float-end" (click)= delete(e) style="border-color: #deae05;color: rgb(255,255,255);">Delete</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                </div>  -->

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-4" *ngFor="let e of info|paginate: { itemsPerPage: 8,currentPage: q };">
                     
                     <div  class="card text-white card-has-bg click-col" style="background-image:url({{e.img_url1}});">
                           
                           <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                               <small class="card-meta mb-2"><i class="fas fa-door-open" style="color: #DEAE05;"></i> LaItalia BnB</small>
                               <h4 class="card-title mt-0 ">{{e.title}}</h4>
                          
                             </div>
                             <div class="card-footer">
                              <div class="media">
                     <div class="media-body">
                       <h6 style="font-size: 14px;"class="my-0 text-white d-block"><i class="fas fa-user" style="color: #DEAE05;"></i>Customer name: {{e.firstname}} {{e.lastname}}</h6>
                       <h6 style="font-size: 14px;"class="my-0 text-white d-block"><i class="fas fa-calendar" style="color: #DEAE05;"></i>CheckIn: {{e.checkin|date: 'dd/MM/yyyy'}}</h6>
                       <h6 style="font-size: 14px;"class="my-0 text-white d-block"><i class="fas fa-calendar" style="color: #DEAE05;"></i>CheckIn: {{e.checkout|date: 'dd/MM/yyyy'}}</h6>
                      
                       <br>
                       <h4 class="text-center card-title" style="font-size: 15px;color: #DEAE05;">
                        <a class="btn btn-sm float-start" (click)= cancel(e) style="background-color: #262626;color: #deae05;">cancel</a>
                        <a class="btn btn-sm"(click)= approve(e) style="background-color: #262626;color: #deae05;">approve</a>
                        <a class="btn btn-sm float-end" (click)= delete(e) style="background-color: #262626;color: #deae05;">Delete</a></h4>
                
                
                                 </div>
                             </div>
                             </div>
                           </div>
                         </div>
                        </div>
                   </div>
                   <p style="text-align: center;font-size: 18px;"><pagination-controls (pageChange)="q = $event" class=""></pagination-controls></p>
                <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
               
              >
                <p class="loading" style="font-size: 30px; color: white"><i class="fas fa-door-open" style="color: #DEAE05;"></i>Laitalia<span style="color: #DEAE05;">BnB</span></p>
              </ngx-spinner>
                 <!--------arlet-->

    <div class="updated" [class.visible]="approveisVisible"> 
        <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>Booking successfully approved.
    </div>
    <!-----------------> 
     <!--------arlet-->

     <div class="updated" [class.visible]="cancelisVisible"> 
        <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>Booking successfully cancelled.
    </div>
    <!--------arlet-->

    <div class="updated" [class.visible]="deleteisVisible"> 
        <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>Booking successfully deleted.
    </div>
    <!-----------------> 




    
       <app-footer></app-footer>

       <!-- <table class="table table-striped table-bordered table-sm row-border hover" style="font-size: 12px;" id="bookings">
      
        <thead>
            <tr>
                <th>Customer FullNames</th>
                <th>Room title</th>
                <th>Room image</th>
                <th>Price</th>
                <th>Check In date</th>
                <th>Check Out date</th>
                <th>Time of booking</th>
                
           
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let e of info">
                <td>{{e.firstname}} {{e.lastname}}</td>
                <td>{{e.title}}</td>
                <td>{{e.price}}</td>
                <td>{{e.checkin}}</td>
                <td>{{e.checkout}}</td>
                <td>{{e.checkin}}</td>
                <td>{{e.checkout}}</td>
            </tr>
          
        
        </tbody>
     
    </table> -->


    