<app-navbar></app-navbar>

<!--------arlet-->

<div class="updated" [class.visible]="isVisible"> 
    <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i> Room successfully booked.
</div>
<!-----------------> 
<div class="container-fluid">
    <div class="container" *ngFor="let e of Rooms;">
        <div class="row">
            <div class="col-lg-6 col-xl-6 mb-4">
                <div class="card shadow-none h-100" style="border-style: none;"><a href="#"></a>
                    <div data-bs-ride="carousel" class="carousel slide" id="carousel-1" style="margin-top: 79px;">
                        <div class="carousel-inner">
                            <div class="carousel-item"><img class="w-100 d-block" src="{{e.img_url}}" alt="Slide Image" /></div>
                            <div class="carousel-item"><img class="w-100 d-block" src="{{e.img_url1}}" alt="Slide Image" /></div>
                            <div class="carousel-item active"><img class="w-100 d-block" src="{{e.img_url2}}" alt="Slide Image" /></div>
                        </div>
                        <div><a href="#carousel-1" role="button" data-bs-slide="prev" class="carousel-control-prev"><span aria-hidden="true" class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a href="#carousel-1" role="button" data-bs-slide="next" class="carousel-control-next"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carousel-1" data-bs-slide-to="2" class="active"></li>
                        </ol>
                    </div>
                    <h4 style="font-size: 18px;margin-top: 10px;color: rgb(109,109,109);"><i class="fa fa-home" style="color: rgb(226,182,53);"></i> {{e.title}}</h4>
                    <h4 style="font-size: 18px;margin-top: 10px;color: rgb(109,109,109);"><i class="fa fa-money" style="color: rgb(226,182,53);"></i> {{e.price|currency:'R'}}</h4>
                    <h4 style="font-size: 18px;margin-top: 10px;color: rgb(109,109,109);"><i class="fa fa-check-circle-o" style="color: rgb(226,182,53);"></i> Description</h4>
                    <p>{{e.description}}</p>
                    
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;background: #262626;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-wifi" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Free Wi-Fi</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-tv" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Free television</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-bathtub" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Bathroom</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;background: #262626;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-coffee" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Free Breakfast</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;background: #262626;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-hotel" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Best bed</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-shopping-basket" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">1 Dinner meal</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-shower" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Best Shower</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="border-radius: 10px;">
                                <div class="card-body" style="border: 1px solid #DEAE05;border-radius: 4px;background: #262626;">
                                    <h4 class="card-title" style="text-align: center;"><i class="fa fa-shopping-basket" style="color: #DEAE05;"></i></h4>
                                    <p style="text-align: center;color: #DEAE05;font-size: 10px;">Extra space</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="contact-clean" style="background: rgba(38,38,38,0);border-radius: 10px;height: 0px;">
                    <form class="shadow-none" #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" method="post" style="background: rgb(255,255,255);border: 1px solid rgb(38,38,38) ;">
                        <h2 class="text-center" style="font-size: 21px;margin-top: 10px;color: #deae07;"><i class="fa fa-home"></i> Reserve Room</h2><label class="form-label" style="color: rgb(204,160,20);">Check In</label>
                        <div class="form-group mb-3">
                            <div class="input-group"><input type="date" [(ngModel)]="checkin" type="date" id="checkin" min={{date}} ngModel name="checkin"  class="form-control" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;" /><span class="input-group-text" style="background: #deae07;border-style: none;color: rgb(255,255,255);"><i class="fa fa-calendar-o"></i></span></div>
                        </div><label class="form-label" style="color: rgb(204,160,20);">Check Out</label>
                        <div class="form-group mb-3">
                            <div class="input-group"><input type="date" class="form-control" [(ngModel)]="checkout" type="date" min={{checkin}} id="checkout" ngModel name="checkout"  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;" /><span class="input-group-text" style="background: #deae07;border-style: none;color: rgb(255,255,255);"><i class="fa fa-calendar-o"></i></span></div>
                        </div>
                        <div class="form-group mb-3"><button class="btn text-capitalize w-100" type="submit" style="background: #deae07;color: rgb(255,255,255);"><i class="fa fa-circle-o-notch"></i>Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>




<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
 
>
  <p class="loading" style="font-size: 30px; color: white"><i class="fas fa-door-open" style="color: #DEAE05;"></i>Laitalia<span style="color: #DEAE05;">BnB</span></p>
</ngx-spinner>
<app-footer></app-footer>