 
  
  .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-color: rgb(12,129,247);
    border-radius: 2px;
  }
  
  .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-radius: 2px;
    border-color: #fff;
  }

   
  .updated  {
    position: fixed;
     top: 0;
     right: 0.5rem;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2rem;
    background: #DEAE05;
    color: #ffffff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
    margin-top: 60px;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }



  
